* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/2dxaFs9.jpg");
  background-size: cover;
  overflow-x: hidden;
}

.app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: white;
  -webkit-box-shadow: 10px 10px 100px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 100px 0 rgba(0, 0, 0, 0.4);
}

.app::-webkit-scrollbar {
  width: 3px;
}

.app::-webkit-scrollbar {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.app::-webkit-scrollbar-thumb {
  background-color: #c7c5cb;
  border-radius: 5px;
  outline: 1px solid slategrey;
}

.app__plus-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  font-weight: 100;
  background-color: #E91E63;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.app__plus-button > span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: -5px;
}

.app__plus-button--active > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.app__plus-button:focus {
  outline: none;
}

.app__left-bar,
.app__page-container {
  height: 100%;
}

.app__left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
  background-color: #f5f5f5;
}

.app__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  min-height: 50px;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  background-color: #03A9F4;
}

.app__navbar--tools {
  color: #212121;
  font-weight: 500;
  background-color: #e1e1e1;
}

.app__navbar--tools .tools-button {
  margin-right: 10px;
  padding: 10px;
  border: 0;
  background: none;
}

.app__navbar--tools .tools-button--username {
  font-size: 20px;
}

.app .link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

.app .delete-link-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .delete-link-form button {
  padding: 15px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.app .delete-link-form button:hover {
  color: #E91E63;
  cursor: pointer;
}

.app__links-container {
  width: 100%;
  overflow-y: scroll;
}

.app__links-container::-webkit-scrollbar {
  width: 5px;
}

.app__links-container::-webkit-scrollbar {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.app__links-container::-webkit-scrollbar-thumb {
  background-color: #c7c5cb;
  border-radius: 5px;
  outline: 1px solid slategrey;
}

.app__links-container .link {
  width: 90%;
  padding: 15px;
  letter-spacing: -0.03em;
  overflow-x: hidden;
}

.app__links-container .link:hover {
  background-color: #efefef;
  cursor: pointer;
}

.app__page-container {
  width: 70%;
  padding: 5% 10px;
  background-color: white;
  overflow-y: scroll;
}

.app__page-container::-webkit-scrollbar {
  width: 5px;
}

.app__page-container::-webkit-scrollbar {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.app__page-container::-webkit-scrollbar-thumb {
  background-color: #c7c5cb;
  border-radius: 5px;
  outline: 1px solid slategrey;
}

.app__page-container:hover {
  padding: 5% 0;
  padding-left: 15px;
}

.app__page-container:hover::-webkit-scrollbar {
  width: 20px;
}

.app__page-container:hover::-webkit-scrollbar {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.app__page-container:hover::-webkit-scrollbar-thumb {
  background-color: #c7c5cb;
  border-radius: 5px;
  outline: 1px solid slategrey;
}

.app__page {
  min-width: 300px;
  width: 100%;
  max-width: 600px;
  min-height: 400%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

.app__page .article {
  margin-bottom: 40px;
}

.app__page .article__title {
  font-size: 25px;
  font-weight: 600;
}

.app__page .article__date {
  margin-bottom: 10px;
  color: rgba(33, 33, 33, 0.65);
}

.app__page .article__body {
  line-height: 180%;
  margin-bottom: 5px;
}

.app__page .article__body img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.app__page .article__url {
  color: rgba(0, 15, 255, 0.64);
}

.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  height: 400px;
  padding: 30px;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: rgba(33, 33, 33, 0.95);
  -webkit-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: scroll;
  z-index: 100;
}

.dashboard::-webkit-scrollbar {
  width: 5px;
}

.dashboard::-webkit-scrollbar {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dashboard::-webkit-scrollbar-thumb {
  background-color: #c7c5cb;
  border-radius: 5px;
  outline: 1px solid #E91E63;
}

.dashboard--hidden {
  left: -50%;
}

.dashboard-form {
  display: block;
  padding: 10px 0;
}

.dashboard-input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.dashboard-input:focus,
.dashboard-input:valid {
  border-bottom: 1px solid #E91E63;
  outline: 4px solid #E91E63;
}

.dashboard-button {
  padding: 10px;
  border: 1px solid white;
  color: white;
  background-color: #212121;
}

.dashboard-button:focus {
  border-bottom: 1px solid #E91E63;
  outline: 4px solid #E91E63;
}

@media (max-width: 700px) {
  .app {
    display: block;
  }

  .app__left-bar,
  .app__page-container {
    width: 100%;
  }

  .app__links-container {
    display: block;
  }
}

